html {
  font-size: var(--rootFontSize);
}

body {
  font-family: var(--fontFamily);
  color: var(--fontColor);
}

a {
  text-decoration: none;
  transition: 0.2s;
  color: var(--linkColor);
  &:hover, &:active {
    color: var(--linkActiveColor);
  }
}

h1, h2 {
  margin: 0;
}
